@media screen and (max-width:576px) {
    
   .navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
   }
     .header {
        width: 100%;
        height: auto; 
        /* padding: 10px; */
        border: none; 
    } 
     .head h3{
        font-size: 36px;
        margin-left: 0;
        margin-top:0;
     }
    .nav-links{
        display:none;
    }
    .nav-hamburger-manu {
        font-size: 30px;
        padding:10px;
       margin-right: 10px;
        display: block;
        cursor:pointer;
        margin-top:42px; 
    }
      /* -------------responsive text and button properties-------- */
      .herro {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 5px;
      }
      .text {
        width: 100%;
        border: none;
        padding:5px;
        text-align:left;
      }
  
      .text h1 {
        font-size:45px;
        margin-top: 48px;
      }
    
      .text h1 span {
        font-size:48px;
      }
    
      .text p {
        font-size:20px;
        line-height:30px;
        margin-top: 15px;
      }
    
      .button {
        flex-direction:row;
        gap: 10px;
        margin-top: 30px;
      }
    
      .button .btn {
        width: 100%;
        padding:20px ;
        border-radius: 50px;
        font-size: larger;
      }
       
      /* =========responsive image and card section============= */
      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
         /* padding:5px;  */
         position: relative;
         
      }
    
      .image img {
        width: 90%;
        height: auto;
        position: static; 
        margin: 0 auto;
        
      }
          
      
       .feature-item1{
        
       position: absolute;
       width: 170.91px;
       height: 100.09px;
        left: 300.2px;
          top: 90.6px;
       }
         .feature-item2{
          position: absolute;
         width: 190.74px;
         height: 90.58px;
         left: 32px;
         top: 400.38px;
         }
      .feature-item1 p, .feature-item2 p {
        font-size:bold; 
      }
    
      .feature-item1 span, .feature-item2 span {
        font-size:14px; 
      }
    
      .circle {
        width: 35px; 
        height: 35px;
        margin-right: 10px;
        margin-top: 3px;
      }
        svg{
          display: block;
          margin-left: 5px;
         padding: 2px;
         margin-top: 4px;
        }

          /* =========change Habit section========== */
          
            .changes {
              width: 100%;
              height: auto;
            }
          
            .cng-text {
              width: 100%;
              height: auto;
               margin-top: 20px;
            }
          
            .title {
              font-size:x-large;
            }
           .abouts{
            position: static;
            text-align: center;
            font-size:20px;
           font-weight: 400;
            line-height:40px;
            letter-spacing:1px;
           }
            /* ========= Responsive Images=======
           */
           .conteinar {
            grid-template-columns: repeat(1, 1fr); 
            gap: 20px;
            text-align: center;
          }
        
          .round {
            padding: 20px; 
          }
        
          .round-img {
            width: 70%; 
            text-align: center;
          
          }
        
          .round h2 {
            font-size: larger; 
            margin-left: 8px;
          }
        
          .round p {
           font-size:medium;
           width: 250px;
          height:90px;
          line-height: 20px;
          letter-spacing: 0.3px;
          margin-left: 120px;
          }
          /* ======= Run and Extra Mile======= */
          .box-conteinar {
            width: 80%;
            height: auto;
            flex-direction: column;
            margin-top: 50px;
        }
    
        .left-side-box {
            width: 100%;
            height: auto;
            padding: 20px;
        }
    
        .title-text {
            margin-left: 0;
            font-size: 24px;
            text-align: center;
        }
    
        .run-text {
            margin: 20px 0;
            font-size: 16px;
            text-align: center;
        }
    
        .join-btn {
          text-align: center;
          margin: 20px 0px;
        }
    
        .right-side-box {
            width: 100%;
            height: auto;
            margin-top: 20px;
        }
        
  
      .image-container {
          width: 80%;
          height: auto;
          margin-left: 42px;
          margin-bottom: 42px;
      }
  
      .run {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
      }
        /* ===========Responsive BMI section============== */
         .bmi{
          width:80%;
          height: auto;
         }
         .bmi-text{
          position: static;
          width: 353px;
          height: 72px;
          line-height: 24px;
         }
         /* =====  Bmi chart======= */
         .Bmi-conteinar-section {
          flex-direction: column;
          padding: 10px;
          width: 100%;
          height:220%;
          margin-top: 10px;
      }
  
      .Bmi-chart, .calculate-Bmi {
          width: 100%;
          height: auto;
          margin-bottom: 20px;
      }
  
       .chart-title{
          text-align:left;
          font-size: medium;
          margin-top:0px;
      }
  
      .Bmi-table{
          width: 100%;
          margin: 0 auto;
          padding:0px;
          text-align: center;
          font-size:small;
      }
  
      table {
          width: 60%;
          margin-top: 10px;
          margin-left: 0;
      }
        
      input, select {
          width: 70%;
          margin-top:5px;
          margin-left: 0;
          padding: 10px;
      }
       .calculate-Bmi-title{
        font-size: medium;
        margin-top: 0px;
        text-align:left;
        margin-left: 0;
       }
       .calculate-Bmi-text{
        font-size:15px;
        position: static;
        width: 353px;
        height: 72px;
        line-height: 30px;
        letter-spacing: 0.3px;
        margin-left: 0;
       }
        
  
      .number {
          width: 110%;
          height: 100%;
          padding: 0;
          margin-left: 0px;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          justify-content:space-around;
          gap:5px;
          margin-left: 0;
      }
  
      .activity {
          width: 170%;
      }
  
      .calculate-btn {
          display: block;
          width: 70%;
          margin: 20px auto;
          padding: 15px 0;
          margin-left: 0;
          text-align: center;
          font-size:medium;
      }
           /* ========Meet Our Team responsive here====== */
           .meet-team{
            width: 80%;
            height: auto;
            margin-top: 30px;
           }
           .meet-text{
            position: static;
           width: 353px;
           height: 72px;
           line-height: 24px;
           }
             /* =====Resonsive Trainer image section==== */
             .trainer-conteinar{
              width:90%;
              height:85%;
              display: grid;
              grid-template-columns: repeat(1,1fr);
              align-items: center;
              
             }
             .trainer-card img {
              width: 90%;
              height: 95%;
              border-radius: 8px;
            }
            .trainer-info{
              position: absolute;
              margin-top:0px;
              left:2px;
            }
            .trainer-card h2 { 
              font-size: x-large;
              color:white; 
              
            }
            .trainer-card p {
              font-size: 14px; 
              color:whitesmoke;
              margin-top:0px;
            text-align: left;
            }
             /* ===== responsive footer section====== */
             .footer-section{
              width:100%;
              height: 120%;
              display: grid;
              grid-template-columns: repeat(1,1fr);
              text-align: center;
             
             }
              
            .ending h1{
              top: 0px;
              font-size: 70px;
              font-weight: 800;
              text-align: center;
             }
             .paragraph{
              width: 100%;
              margin-left: 0;
             }
               .footer-bottom{
                width: 80%;
                margin-left:50px;
               }

      }