@media screen and (max-width:576px) {
    
   .navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
   }
     .header {
        width: 100%;
        height: auto; 
        /* padding: 10px; */
        border: none; 
    } 
     .head h3{
        font-size: 36px;
        margin-left: 0;
        margin-top:0;
     }
    .nav-links{
        display:none;
    }
    .nav-hamburger-manu {
        font-size: 30px;
        padding:10px;
       margin-right: 10px;
        display: block;
        cursor:pointer;
        margin-top:42px; 
    }
      /* -------------responsive text and button properties-------- */
      .herro {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 5px;
      }
      .text {
        width: 100%;
        border: none;
        padding:5px;
        text-align:left;
      }
  
      .text h1 {
        font-size:45px;
        margin-top: 48px;
      }
    
      .text h1 span {
        font-size:48px;
      }
    
      .text p {
        font-size:20px;
        line-height:30px;
        margin-top: 15px;
      }
    
      .button {
        flex-direction:row;
        gap: 10px;
        margin-top: 30px;
      }
    
      .button .btn {
        width: 100%;
        padding:20px ;
        border-radius: 50px;
        font-size: larger;
      }
       
      /* =========responsive image and card section============= */
      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
         /* padding:5px;  */
         position: relative;
         
      }
    
      .image img {
        width: 90%;
        height: auto;
        position: static; 
        margin: 0 auto;
        
      }
          
      
       .feature-item1{
        
       position: absolute;
       width: 170.91px;
       height: 100.09px;
        left: 300.2px;
          top: 90.6px;
       }
         .feature-item2{
          position: absolute;
         width: 190.74px;
         height: 90.58px;
         left: 32px;
         top: 400.38px;
         }
      .feature-item1 p, .feature-item2 p {
        font-size:bold; 
      }
    
      .feature-item1 span, .feature-item2 span {
        font-size:14px; 
      }
    
      .circle {
        width: 35px; 
        height: 35px;
        margin-right: 10px;
        margin-top: 3px;
      }
        svg{
          display: block;
          margin-left: 5px;
         padding: 2px;
         margin-top: 4px;
        }

          /* =========change Habit section========== */
          
            .changes {
              width: 100%;
              height: auto;
            }
          
            .cng-text {
              width: 100%;
              height: auto;
               margin-top: 20px;
            }
          
            .title {
              font-size:x-large;
            }
           .abouts{
            position: static;
            text-align: center;
            font-size:20px;
           font-weight: 400;
            line-height:40px;
            letter-spacing:1px;
           }
            /* ========= Responsive Images=======
           */
           .conteinar {
            grid-template-columns: repeat(1, 1fr); 
            gap: 20px;
            text-align: center;
          }
        
          .round {
            padding: 20px; 
          }
        
          .round-img {
            width: 70%; 
            text-align: center;
          
          }
        
          .round h2 {
            font-size: larger; 
            margin-left: 8px;
          }
        
          .round p {
           font-size:medium;
           width: 250px;
          height:90px;
          line-height: 20px;
          letter-spacing: 0.3px;
          margin-left: 120px;
          }
          /* ======= Run and Extra Mile======= */
          .box-conteinar {
            width: 80%;
            height: auto;
            flex-direction: column;
            margin-top: 50px;
        }
    
        .left-side-box {
            width: 100%;
            height: auto;
            padding: 20px;
        }
    
        .title-text {
            margin-left: 0;
            font-size: 24px;
            text-align: center;
        }
    
        .run-text {
            margin: 20px 0;
            font-size: 16px;
            text-align: center;
        }
    
        .join-btn {
          text-align: center;
          margin: 20px 0px;
        }
    
        .right-side-box {
            width: 100%;
            height: auto;
            margin-top: 20px;
        }
        
  
      .image-container {
          width: 80%;
          height: auto;
          margin-left: 42px;
          margin-bottom: 42px;
      }
  
      .run {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
      }
        /* ===========Responsive BMI section============== */
         .bmi{
          width:80%;
          height: auto;
         }
         .bmi-text{
          position: static;
          width: 353px;
          height: 72px;
          line-height: 24px;
         }
    }