@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{

  font-family: "Inter", sans-serif;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: black; 
}
.header{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    border: 2px solid red;
    width: 1539px;
    height: 730px;
    background-color: #121212;

}

 /* --------------Nav section style started-------- */
.navbar{
   display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; 
  margin-top: 80px;
}
.nav-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    margin-right: 200px;
    font-size: 20px;
    font-weight: 400;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius:30px;
   padding: 0.5rem 0.5rem;
    
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav li{
    list-style: none;
}
.head,h3{
font-size:45px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-left: 100px;
color: rgb(230, 83, 60);
}
.nav-links a.rounded{
   background: rgb(230, 83, 60);
   border-radius:30px;
   padding: 0.6rem 1em;
   
}
/* ---------herro section-------- */
 .herro{
     
    border: 2px solid green;
    margin: 0 auto;
    width: 1100px;
    height: 581px;
    display: flex;
    margin-top: 11px;
  }
 .text{
  width: 50%;
  border:2px solid red;
 }
  .text h1{
    font-size:55px;
     font-weight: 900; 
     margin-top: 6rem;
    color: rgb(255, 255, 255);
  }
 .text h1 span{
        
  font-family: "Great Vibes", cursive;
  font-size:4.5rem;
   font-weight:normal;
 }
 .text p{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.5px;
margin-top: 25px;
 }
 .button{
  display: flex;
  gap: 1rem;
  margin-top: 50px;
 
 }
.button .btn{
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 200px;
  
}
.button .first{
  background-color: #FF5722;
  color: #fff;
}
.button .second{
  background-color:#101010;
  color:#fff;
  border: 1px solid white;

} 
 /* ----- image----- */
 
  .image img{
  position: relative; 
  width:300px;
  height:530px;
  left:250px;
  top:45px;
 } 
 /* --------feature property----- */
  .feature-item1 {
  background-color: #272727;
 color: white;
position: absolute;
padding: 1rem ;
width: 190px;
height: 105px;
left: 1200px;
top: 260px;
border-radius:10px;
 }

.feature-item1 p {
  font-size: 2.5rem;
  margin-top: 0.2rem;
}

.feature-item1 span {
  font-size: 0.875rem;
  
}
.circle {
  width: 25px;
  height: 25px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 5px;
  
}

.feature-item2{
  position: absolute;
width: 226px;
height: 116px;
left: 850px;
top: 560px;
padding: 1rem ;
background: rgba(48, 48, 48, 0.54);
color: #fff;
border-radius:10px;
display: flex;
justify-content: center;
align-items: center;

}

.feature-item2 p {
  font-size: 2.5rem;
   margin-top: 0.2rem; 
}

.feature-item2 span {
  font-size: 0.875rem;
  
} 
.nav-hamburger-manu{
  color: white;
   display: none;
} 
svg{
  display: none;
}
  
  /* ========Changes part======== */
  .changes{
    border: 2px solid red;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
  }
  .cng-text{
    border: 2px solid red;
    width: 700px;
    height:120px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .abouts{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  
  .title{
    color: #fff;
    font-size:x-large;
    text-align: center;
  }
 .conteinar{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-top: 30px;
 }
 .round-img{
  width: 70%;
  height: auto;
  border-radius: 50%;
 }
 .round h2{
 margin-left:80px;
  color: #fff;
  margin-top: 20px;
  font-size: medium;
 }
 .round p{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
  text-align: center;
 }