@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{

  font-family: "Inter", sans-serif;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: black; 
}
.header{
  /* border: 2px solid red; */
    width: 1539px;
    height: 755px;
    background-color:rgba(255, 255, 255, 0.1);

}

 /* --------------Nav section style started-------- */
.navbar{
   display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; 
  /* margin-top: 0px; */
}
.nav-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    margin-top: 60px;
    margin-right: 200px;
    font-size: 20px;
    font-weight: 400;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius:30px;
   padding: 0.5rem 0.5rem;
    
}
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav li{
    list-style: none;
}
.head,h3{
font-size:45px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-left: 100px;
margin-top: 57px;
color: rgb(230, 83, 60);
}
.nav-links a.rounded{
   background: rgb(230, 83, 60);
   border-radius:30px;
   padding: 0.6rem 1em;
   
}
/* ---------herro section-------- */
 .herro{
     
   border-radius:30px;
    margin: 0 auto;
    width: 1100px;
    height: 581px;
    display: flex;
    margin-top: 11px;
  }
 .text{
  width: 50%;
  /* border:2px solid red;  */
 }
  .text h1{
    font-size:55px;
     font-weight: 900; 
     margin-top: 6rem;
    color: rgb(255, 255, 255);
  }
 .text h1 span{
        
  font-family: "Great Vibes", cursive;
  font-size:4.5rem;
   font-weight:normal;
 }
 .text p{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.5px;
margin-top: 25px;
 }
 .button{
  display: flex;
  gap: 1rem;
  margin-top: 50px;
 
 }
.button .btn{
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 200px;
  
}
.button .first{
  background-color: #FF5722;
  color: #fff;
}
.button .second{
  background-color:#101010;
  color:#fff;
  border: 1px solid white;

} 
 /* ----- image----- */
 
  .image img{
  position: relative; 
  width:300px;
  height:530px;
  left:250px;
  top:45px;
 } 
 /* --------feature property----- */
  .feature-item1 {
  background-color: #272727;
 color: white;
position: absolute;
padding: 1rem ;
width: 190px;
height: 105px;
left: 1200px;
top: 300px;
border-radius:10px;
 }

.feature-item1 p {
  font-size: 2.5rem;
  margin-top: 0.2rem;
}

.feature-item1 span {
  font-size: 0.875rem;
  
}
.circle {
  width: 25px;
  height: 25px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 5px;
  
}

.feature-item2{
  position: absolute;
width: 226px;
height: 116px;
left: 850px;
top: 560px;
padding: 1rem ;
background: rgba(48, 48, 48, 0.54);
color: #fff;
border-radius:10px;
display: flex;
justify-content: center;
align-items: center;

}

.feature-item2 p {
  font-size: 2.5rem;
   margin-top: 0.2rem; 
}

.feature-item2 span {
  font-size: 0.875rem;
  
} 
.nav-hamburger-manu{
  color: white;
   display: none;
} 
svg{
  display: none;
}
  
  /* ========Changes part======== */
  .changes{
    /* border: 2px solid red; */
    width: 1200px;
    height: 500px;
    margin: 0 auto;
  }
  .cng-text{
    /* border: 2px solid red; */
    width: 700px;
    height:120px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .abouts{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  
  .title{
    color: #fff;
    font-size:x-large;
    text-align: center;
  }
 .conteinar{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  gap: 10px;
  margin-top: 30px;
  
 }
 .round-img{
  width: 70%;
  height: auto;
  border-radius: 50%;
  
 }
 .round h2{
 margin-left:20px;
  color: #fff;
  margin-top: 20px;
  font-size: medium;
 }
 .round p{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
  text-align: center;
 }
    /* ==========Here is the run extra way========== */
    .box-conteinar{
       
       width: 1200px;
       height: 400px;
       margin: 0 auto;
       margin-top: 100px;
       background-color:#1E1E1E;
       box-shadow:0 8px 16px rgba(0, 0, 0, 0.1);
       border-radius: 20px; 
       display: flex;
    }
    .left-side-box{
      width: 55%;
      height:100%;
      /* border: 2px solid red; */
    }
    .title-text{
      margin-top: 40px;
      margin-left:50px;
      font-size: 30px;
     font-weight: 400px;
     color: rgb(255, 255, 255);

    }
    .run-text{
      color: rgba(255, 255, 255, 0.5);
     font-size: 18px;
    font-weight: 300;
    line-height: 30px;
   letter-spacing: 0.3px;
   text-align: left;
   margin: 40px 45px;
    }
    .join-btn a{
       text-decoration: none;
       padding: 10px 30px;
       background: rgb(230, 83, 60); 
       border-radius: 200px;
       margin-left:45px;
       color: #fff;
       font-size: large;
    }
    .right-side-box{
      width:450px;
      height:350px;
      margin: 0 auto;
      margin-top:25px;

    }
    .right-side-box{
      width:450px;
      height:350px;
      margin: 0 auto;
      margin-top: 25px;
      position: relative;
    
    }

    .image-container {
      width: 450px; 
      height: 350px; 
      overflow: hidden; 
      position: relative;
      border-radius: 10px;
  }
  
  .run {
      position: absolute;
      top: -160px; 
      left: -600px;
      width: 1310px; 
      height: auto;
  }
 /* ==========Bmi section ========= */
 .bmi{
   border: 2px solid red;  
  width:700px;
   height: 150px;
   margin: 0 auto;
   margin-top: 70px;
 }
 .bmi-title{
  color:#fff;
  font-size: x-large;
  margin-top: 30px;
  text-align: center;
 }
 .bmi-text{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  text-align: center;
 }
   .Bmi-conteinar-section{
    border: 3px solid green;
    width:1530px;
    height: 450px;
    margin: 0 auto;
    margin-top: 720px;
    background-color:#1E1E1E;
    display: flex;
   }
   .Bmi-chart{
    width:45%;
    height: 100%;
    border:4px solid red;
    text-align: center;
   }
   .chart-title{
    color: #fff;
    font-size:large;
    margin-top: 50px;
    
   }
   .Bmi-table{
    background-color: #1e1e1e; 
    color: #fff;
    padding: 20px;
   
   }
   table {
    border-collapse: collapse;
    width: 350px;
    text-align: left;
    font-size: small;
    margin-left: 180px;
    margin-top: 50px;
    
}
th, td {
    border: 1px solid #444;
    padding: 10px;
}
th {
    background-color: #333;
}
td {
    background-color: #2c2c2c;
}

   .calculate-Bmi{
    width:55%;
    height: 100%;  
    border: 4px solid blue;   

   }